:root {
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
  --white: #fff;
  --black: #000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
}
.inactive {
  display: none;
}

/* Index */
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0 1rem;
  border-bottom: 1px solid var(--very-light-pink);
}
.icon-menu {
  display: none;
}
.logo {
  width: 12rem;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.navbar-left {
  display: flex;
  margin-left: 1.2rem;
}
.navbar-left ul {
  margin-left: 1.2rem;
}
.navbar-left ul li a,
.navbar-right ul li {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 0.8rem;
  border-radius: 0.8rem;
}
.navbar-left ul li a:hover {
  color: var(--hospital-green);
}
.navbar-right {
  margin-right: 1.2rem;
}
.navbar-email {
  font-size: var(--sm);
}
.navbar-email:hover {
  color: var(--hospital-green);
  cursor: pointer;
}
.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart img:hover {
  filter: invert(40%);
  cursor: pointer;
}
.navbar-shopping-cart div {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--black);
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile menu */
.mobile-menu {
  font-size: 2rem;
  height: 56rem;
  width: 16rem;
  padding: 0 2.4rem 2.4rem;
  position: absolute;
  top: 8rem;
  left: 0;
  background-color: var(--white);
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  margin-bottom: 2.4rem;
}
.mobile-menu ul {
  padding: 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
  margin-top: 0.8rem;
}
.mobile-menu ul:nth-child(3) {
  position: absolute;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.mobile-menu ul li {
  margin-bottom: 2.4rem;
  font-weight: bold;
}
#email {
  font-size: var(--sm);
  font-weight: 300;
}
#signout {
  color: var(--hospital-green);
}

/* Desktop menu */
.desktop-menu {
  position: absolute;
  top: 5rem;
  right: 6rem;
  background: var(--white);
  width: 10rem;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 0.6rem;
  padding: 2rem 2rem 0 2rem;
}
.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li {
  text-align: end;
  font-weight: bold;
}
.desktop-menu ul li:last-child {
  padding-top: 2rem;
  border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}
.desktop-menu ul li a {
  color: var(--back);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2rem;
}

/* Shopping cart */
aside {
  background-color: var(--white);
  width: 36rem;
  padding: 0 2.4rem;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
.product-detail-close {
  background: var(--white);
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  z-index: 2;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-detail-close img{
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(50%);
}
aside > img:nth-child(2){
  width: 100%;
  height: 36rem;
  object-fit: cover;
  border-radius: 2rem;
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 1.2rem;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.6rem;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 0 2rem;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.arrow:hover {
  cursor: pointer;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 0.8rem;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 5rem;
}

/* Product detail */
.product-detail-close {
  background: var(--white);
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  z-index: 2;
  padding: 1.2rem;
  border-radius: 50%;
}
.product-detail-close:hover {
  cursor: pointer;
}
#product-detail > img:nth-child(2) {
  width: 100%;
  height: 36rem;
  object-fit: cover;
  border-radius: 0 0 2rem 2rem;
}
#product-detail .product-info {
  margin: 2.4rem 2.4rem 0 2.4rem;
}
#product-detail .product-info p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 0.4rem;
}
#product-detail .product-info p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 3.6rem;
}
#product-detail .product-info p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 3.6rem;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 0.8rem;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 5rem;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product List */
.cards-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 24rem);
  gap: 2rem;
  place-content: center;
}
.product-card {
  width: 24rem;
}
.product-card img {
  width: 24rem;
  height: 24rem;
  border-radius: 2rem;
  object-fit: cover;
}
.product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card .product-info figure {
  display: flex;
  margin: 0;
}
.product-card .product-info figure img {
  width: 3.6rem;
  height: 3.6rem;
  align-items: center;
}
.product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.product-card .product-info div p:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  aside {
    width: 100%;
  }
  .icon-menu {
    display: block;
  }
  .icon-menu:hover {
    filter: invert(40%);
    cursor: pointer;
  }
  .navbar-email,
  .navbar-left ul,
  .desktop-menu {
    display: none;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 14rem);
    gap: 2.4rem;
  }
  .product-card {
    width: 14rem;
  }
  .product-card img {
    width: 14rem;
    height: 14rem;
  }
}
